<% include ../partials/header.ejs %>

<div class="panel panel-default">
  <div class="panel-heading">
    <a href='<%= user.companyUrl %>' target="_blank" style="font-size: 1.5em;">
      <%= article.title.nickname %>
    </a>
<div style="float: right;">
  작성일 :
  <% if(article.createdAt = article.updatedAt) { %>
    <%= article.getDate.date %>
  <% } else { %>
    <%= article.getDate.date %>
    (수정된 날짜 : <%= article.updatedDate.date %> )
  <% } %>
</div>
  </div>
  <div class="panel-body">
    <% if (article.thumbnail) { %>
      <p>
        <img src="https://wpsn-younghea-zigzeg.s3.amazonaws.com/<%= article.thumbnail %>" style="max-width: 300px; height: auto;">
      </p>
    <% } %>
    <%- article.content %>
  </div>
<!-- 요청사항 영역  -->

  <hr />
<div>
  <table class="table" id="comment_area">
    <tr>
      <th>요청 내용</th>
      <th>작성자</th>
      <th>작성일</th>
      <th>삭제 여부 밑 댓글달기</th>
    </tr>
    <% if(comments == null || comments.length == 0) { %>
      <tr>
        <td colspan=100>요청사항이 없습니다.</td>
      </tr>
    <% } %>
    <% comments.forEach( function(comment){ %>
      <tr>
        <td>
          <%= comment.content %>
        </td>
        <td>
          <%= comment.writer.nickname %>
        </td>
        <td>
          <%= comment.getDate.date %>
          <%= comment.getDate.time %>
        </td>
        <td>
          <a class='comment_delete' comment_id='<%=comment._id%>'>삭제</a> 및  <button type="button" class="answerBtn">답변 달기</button>
        </td>
      </tr>
      <% if (comment.answer !== ''){ %>
        <% comment.answer.forEach((answer) => { %>
          <tr>
            <td>
              <%= answer.content %>
            </td>
            <td>
              <%= answer.writer.nickname %>
            </td>
            <td>
              <%= answer.answerDate %>
            </td>
          </tr>
        <% }) %>
      <% } %>        
      <tr id="answer" class="off">
        <td colspan="4">
          <div>
            답변 작성하기
            <form id="answerForm" action="/shoppingmall/comment/answer" method="post">
              <input type="hidden" name="comment_id" id="comment_Id" value="<%= comment._id %>">
              <input type="hidden" name="shoppingMall_id" value="<%=article._id%>" />              
              <textarea class="form-control" name="content"></textarea>
              <button type="submit" class="btn btn-primary addAnswerBtn" style="margin-top: 10px" id="answerButton" comment_id='<%= comment._id%>'>댓글 작성</button>
            </form>
          </div>
        </td>
      </tr>
    <% }) %>
  </table>
</div>

  <!-- 요청사항 영역  -->
  <div>
    요청사항 작성하기
    <form id="commentForm" action="" method="post">
      <input type="hidden" name="shoppingMall_id" value="<%=article._id%>" />
      <textarea class="form-control" name="content"></textarea>
      <button class="btn btn-primary" style="margin-top: 10px">요청사항 작성</button>
    </form>
  </div>
  <!-- 요청사항 영역  -->
</div>

<a href="/delete/<%= article._id %>" class="btn btn-danger" onclick="return confirm('삭제하시겠습니까?')">삭제</a>
<%if(user.admin !== true) { %>
  <a href="/shoppingmall/edit/<%= article._id %>" class="btn btn-primary">수정</a>
  <% } %>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

<style>
  .off {
    display: none;
  }
</style>

<script>
(function(){
  $(document).ready(function () {
    $('#commentForm').submit(function () {
      let $contentVal = $(this).children('textarea[name=content]').val();
      if ($contentVal) {
        $.ajax({
          url: '/shoppingmall/ajax_comment/insert',
          type: 'POST',
          data: $(this).serialize(),
        })
          .done(function (args) {
            if (args.message === "success") {
              $('#comment_area').append(
                '<tr>' + '<td>' + args.content + '</td>' + '<td>' + args.writer + '</td>' + '<td>' + args.getDate + '</td>' + "<td> <a class='comment_delete' comment_id='" +
                args.id + "'>삭제</a> </td> </tr>"
              );
              $('#commentForm textarea[name=content]').val("");
              window.location.reload()
            }
          })
          .fail(function (args) {
            console.log(args);
          });
      } else {
        alert('요청사항을 입력해주세요.')
      }
      return false;
    });
    $('comment_delete').click(function () {
      if (confirm('삭제하시겠습니까?')) { //확인창 예 눌렀을 시만 진행
        let $self = $(this);
        $.ajax({
          url: '/shoppingmall/ajax_comment/delete',
          type: 'POST',
          data: { comment_id: $self.attr('comment_id') },
        })
          .done(function (args) {
            if (args.message === "success") {
              $self.parent().remove();
              window.location.reload();
              alert("삭제가 완료되었습니다.");
            }
          })
          .fail(function (args) {
            console.log(args);
          });
      }
    });
    $('button.answerBtn').click(function (e) {
        $("#answer").toggleClass('off');
    });
  });
})();
</script>

<% include ../partials/footer.ejs %>